$primary: blue;
$secondary: grey;
$danger: red;
$info: whitesmoke;
$columns: 12;
$width: 100px;
$width-large: $width * 5;
$headings-color: green;
$main-fonts: Arial, sans-serif;
$font-size: 20px;
$colors: (
  1: red,
  2: yellow,
  3: green
);
