#tribute-info {
  max-width: 550px;
  margin-bottom: 20px;
  h2 {
    font-size: 20px;
    text-align: center;
  }

  em {
    text-align: center;
  }

  ul {
    li {
      margin-bottom: 15px;
    }
  }
}
