#contact {
  background-image: $welcome-background;
  height: 100vh;
  color: $white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  h1 {
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    font-style: italic;
  }
}

.social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    padding: 2rem;
  }
}
