#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: $white;
  background-color: $black;
  background-image: $welcome-background;

  h1 {
    font-size: 5rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    font-weight: 300;
    color: $red;
  }
}
